{
  "presets": [
    "env"
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
