.footer {
    padding: 10px 0 0 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    nav {
        background: #ffffff;
        padding: 10px;
        ul {
            list-style: none;
            li {
                font: normal 10px;
                &.selected {
                    text-decoration: underline;
                }
            }
        }
    }
}